# Database
DATABASE_URL="postgresql://your_username@localhost:5432/addfame_famebase"

# Next.js
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-min-32-chars-change-in-production"

# Optional: if using external image storage
# NEXT_PUBLIC_IMAGE_CDN_URL=""